.container {
  color: #fff;
  line-height: 1.5rem;
  min-height: 100vh;
  background-color: #303030;
}

.links {
  color: #66d9ef;
  padding: 0.25rem 0.15rem;
}

.links:hover {
  color: #303030;
  background-color: #66d9ef;
}

.container > p {
  margin: 0;
  padding: 1rem;
}

.listDecoration {
  list-style-type: none;
  padding: 0;
}

.picture {
  height: 40vh;
  width: auto;
}
